@tailwind base;
@tailwind components;
@tailwind utilities;

.title-break {
  width: 40px;
  display: block;
  margin: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  border-top: 2px solid #222;
  border-color: #222222;
}
